- var houseName = house.toLowerCase()
.clearfix(data-house=houseName)
	h5.title #{name} (#{house})
	p.text-muted Played by: #{actor}
	p.text-primary Best quote: 
		strong #{quote}
	strong #{episodes} 
	span.text-muted episodes as #{name}